<ion-header>
  <ion-toolbar color="primary">
    <ion-title>#ZeitZusammen</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/hashtags"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>#ZeitZusammen</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><i>Eine Erstiwoche, sie zu knechten, sie alle zu finden,<br>
      Auf den Katschhof zu treiben und ewig zu binden.</i></p>

      <p>Verbringt Zeit miteinander! Das ist die wichtigste Vorbereitung für euer anstehendes Studium.</p>

      <p>Für jedes Foto bekommt ihr pro Person für die nächsten zwei Stunden Punkte gutgeschrieben. Also macht regelmäßig lustige Gruppenfotos, auch wenn ihr in dem Moment keinen Hashtag erledigen könnt.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button hashtag.marked=true routerLink="/camera" ><ion-icon name="camera"></ion-icon></ion-fab-button>
</ion-fab>
