<ion-header>
  <ion-toolbar color="primary">
    <ion-title>#Sponsor ...</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/hashtags"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>#Sponsor ...</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Besucht unsere großzügigen Sponsoren und richtet ihnen euren Dank aus.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button hashtag.marked=true routerLink="/camera" ><ion-icon name="camera"></ion-icon></ion-fab-button>
</ion-fab>
