<ng-template ngFor let-group [ngForOf]="group"> 
  <ion-item *ngIf="group.id===knownid.groupid">       
    <ion-header>
      <ion-title>
        {{group.name}}
      </ion-title>
    </ion-header>
  </ion-item>
</ng-template>
 

  <ng-template ngFor let-group [ngForOf]="group"> 
    <ion-list *ngIf="group.id===knownid.groupid">       
            <ion-list *ngIf="group.active===true">
              <ng-template ngFor let-userG [ngForOf]="group.userid">
                <ng-template ngFor let-userU [ngForOf]="user">
                  <ion-card  *ngIf="userU.id==userG"> 
                    <ion-avatar>
                      <ion-icon name={{userU.icon}}></ion-icon>
                    </ion-avatar>
                    <ion-card-header>{{userU.name}}</ion-card-header>
                    <ion-label>
                      {{userU.info}}</ion-label>
                      </ion-card>
                    </ng-template>
                  </ng-template>
                </ion-list>
              </ion-list></ng-template>

<!--
</ion-grid>
</ion-list>
  <ng-template ngFor let-group [ngForOf]="group"> 
    <ion-list *ngIf="group.id===knownid.groupid">       
            <ion-grid *ngIf="group.active===true">
              <ng-template ngFor let-userG [ngForOf]="group.userid">
                <ng-template ngFor let-userU [ngForOf]="user">
                  <ion-row  *ngIf="userU.id==userG"> 
                    <!--user u gleich user aus users user a gleich user picture-
                    <ion-card>
                      <ion-item>
                    <ion-avatar>
                      <ion-icon name={{userU.icon}}></ion-icon>
                    </ion-avatar>
                    <ion-card-header>{{userU.name}}</ion-card-header>
                    <ion-label>
                      {{userU.info}}</ion-label>
                      </ion-item>
                      
                    </ion-card>
                  </ion-row>
                </ng-template>
              </ng-template>
            </ion-grid>
          </ion-list>
  </ng-template>      
</ion-content>
<!-- <ion-content>
  <ion-list lines="none">
      <ng-template ngFor let-picture [ngForOf]="picture"> 
        <ion-item *ngIf="picture.active===true">
         <ion-label>{{dataTime}}</ion-label> 
          <ion-card>
            <ion-grid>
            <ion-row>
              <ion-col>      
                <ion-img src={{picture.picturelink}}></ion-img>
              </ion-col>
              <ion-col>
                <ion-row>
                  <ion-label>join the Team</ion-label>
                    <ion-item *ngIf="timeInSeconds && timeInSeconds >0">
                      <ion-label> {{timer.displayTime}}</ion-label>
                    </ion-item>
                </ion-row>
                <ion-row>
                  <ion-label></ion-label>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
                   <ion-label>{{dateTime}}</ion-label> 

          <ng-template ngFor let-userA [ngForOf]="picture.users">
            <ng-template ngFor let-userU [ngForOf]="users">
            <ion-item  *ngIf="userU.id==userA"> 
              <!--user u gleich user aus users user a gleich user Activity
              <ion-avatar>
                  <ion-icon name={{userU.icon}}></ion-icon>
                </ion-avatar>
                <ion-label>{{userU.name}}</ion-label>
                <ion-button shape="round">-</ion-button>
            </ion-item>
          </ng-template>
          </ng-template>
        </ion-card>
      </ion-item>
    </ng-template>

  </ion-list>
</ion-content>     -->