<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{groupName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <ion-label text-wrap>
        <h2>{{user.name}}</h2>
        <p *ngIf="user.info" class="info">{{user.info}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-container *ngIf="linkQR">
  <ion-item>
    <ion-title> Beitrittslink:</ion-title>
  </ion-item>
  <ion-item>
   <qrcode [qrdata]="linkQR" [size]="256" [level]="'M'"></qrcode>
</ion-item>
<ion-item>
  <ion-label text-wrap > {{linkQR}}</ion-label>
</ion-item>
 </ng-container>
</ion-content>