<ng-template ngFor let-group [ngForOf]="group"> 
  <ion-item *ngIf="group.id===knownid.groupid">       
    <ion-header>
      <ion-title>
        {{group.name}}
      </ion-title>
    </ion-header>
  </ion-item>
</ng-template>
 

  <ng-template ngFor let-group [ngForOf]="group"> 
    <ion-list *ngIf="group.id===knownid.groupid">       
            <ion-list *ngIf="group.active===true">
              <ng-template ngFor let-userG [ngForOf]="group.userid">
                <ng-template ngFor let-userU [ngForOf]="user">
                  <ion-card  *ngIf="userU.id==userG"> 
                    <ion-avatar>
                      <ion-icon name={{userU.icon}}></ion-icon>
                    </ion-avatar>
                    <ion-card-header>{{userU.name}}</ion-card-header>
                    <ion-label>
                      {{userU.info}}</ion-label>
                      </ion-card>
                    </ng-template>
                  </ng-template>
                </ion-list>
              </ion-list>
            </ng-template>
            
