<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Hashtags
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Level {{ level.rank }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Um das nächste Level zu erreichen, müsst ihr folgende Bedingen erfüllen:
      <ion-item *ngFor="let hashtag of level.requiredHashtags" [routerLink]="['/hashtag-info', hashtag.id]">
        <ion-label text-wrap>#{{ hashtag.name }}</ion-label>
        <ion-icon name="checkmark" slot="end" *ngIf="hashtag.done"></ion-icon>
      </ion-item>
      <ng-container *ngFor="let category of categories">
        <ion-item *ngIf="level[numKey(category)]">
          <ion-icon name="{{ categoryIcons[category] }}" slot="start"></ion-icon>
          <ion-label>{{ categoryLabels[category] }}</ion-label>
          <ion-note slot="end">{{ group[numKey(category)] | floor }} / {{ level[numKey(category)] }}</ion-note>
        </ion-item>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Hashtags
      </ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item detail [detailIcon]="hashtag.done ? 'checkmark' : 'ios-arrow-forward'" *ngFor="let hashtag of hashtags" [class.done]="hashtag.done" [routerLink]="['/hashtag-info', hashtag.id]">
        <ion-label text-wrap>
          <h3>#{{ hashtag.name }}</h3>
          <p class="info">{{ hashtag.info }}</p>
        </ion-label>
      </ion-item>

      <ng-container *ngFor="let category of hashtagCategories | keyvalue">
        <ion-item class="expandable" [class.done]="group[numKey(category.key)] >= category.value.length" *ngIf="category.value.length" (click)="expandable.toggle()" lines="full">
          <ion-icon [name]="expandable.expanded ? 'ios-arrow-down' : 'ios-arrow-forward'" slot="start"></ion-icon>
          <ion-label>#{{ categoryLabels[category.key] }} ...</ion-label>
          <ion-note slot="end">{{ group[numKey(category.key)] }} / {{ category.value.length }}</ion-note>
        </ion-item>

        <app-expandable #expandable [expandHeight]="category.value.length*64+'px'">
          <ion-item detail [detailIcon]="hashtag.done ? 'checkmark' : 'ios-arrow-forward'" *ngFor="let hashtag of category.value" [class.done]="hashtag.done" [routerLink]="['/hashtag-info', hashtag.id]">
            <ion-label text-wrap>
              <h3>#{{ categoryLabels[category.key] }}{{ hashtag.name }}</h3>
              <p class="info">{{ hashtag.info }}</p>
            </ion-label>
          </ion-item>
        </app-expandable>
      </ng-container>
    </ion-list>
  </ion-card>

</ion-content>
