<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!groupName">
      Erstigame
    </ion-title>
    <ion-title *ngIf="groupName">
      {{ groupName }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides #slides pager="true" [options]="slideOpts">

    <ion-slide *ngIf="!groupToken">
      <form [formGroup]="form" (submit)="slides.slideNext()">
        <ion-item >
          <ion-label  position="floating">Einladungstoken</ion-label>
          <ion-input formControlName="token" ></ion-input>
        </ion-item>
      </form>
    </ion-slide>

    <ion-slide>
      <ng-container *ngTemplateOutlet="userForm"></ng-container>
    </ion-slide>

  </ion-slides>

</ion-content>

<ng-template #userForm>
  <form [formGroup]="form" (submit)="createUser()">
    <ion-item>
      <ion-label position="floating">Dein Name</ion-label>
      <ion-input formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Kurzinfo</ion-label>
      <ion-input formControlName="info"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Geschlecht</ion-label>
      <ion-select formControlName="gender" interface="action-sheet">
        <ion-select-option *ngFor="let gender of genders | keyvalue" [value]="gender.value">{{ gender.key }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item routerLink="/dsgvo" >
    <ion-label> Mit der Anmeldung akzeptierst <br> du die Datenschutzvereinbarung.</ion-label>
    </ion-item>
    <ion-button type="submit">Gruppe beitreten</ion-button>
  </form>
</ng-template>