<ion-header>
  <ion-toolbar>
    <ion-title>
      Gruppe
    </ion-title>
  </ion-toolbar>
</ion-header>

<script src="js/erstigame.js"></script>

<ion-content ng-app="erstigame" ng-controller="erstigameCtrl">
  <ion-list lines="none">
      <ion-card>
        {{subgroup.title}}
        <ion-title> {{subgroup}} </ion-title>
        <ion-grid>
        <ion-row>
          <ion-col>      
            <ion-img src="assets/Beispiel.JPG"></ion-img>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-label>join the team 1</ion-label>
            </ion-row>
            <ion-row>
              <ion-label>YOU HAVE 1 HOUR</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ng-template ngFor let-user [ngForOf]="users">
        <ion-item  *ngIf="user.subgroup==1">
          <ion-avatar>
              <ion-icon name={{user.icon}}></ion-icon>
            </ion-avatar>
            <ion-label>{{user.name}}</ion-label>
            <ion-button shape="round">-</ion-button>
        </ion-item>
      </ng-template>
      </ion-card>
    <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>      
          <ion-img src="assets/Beispiel.JPG"></ion-img>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-label>join the team 2</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>YOU HAVE 1 HOUR</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-template ngFor let-user [ngForOf]="users">
      <ion-item  *ngIf="user.subgroup==2">
          <ion-chip>
            <ion-avatar>
              <ion-icon name={{user.icon}}></ion-icon>
             <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
            </ion-avatar>
            <ion-label>{{user.name}}</ion-label>
            <ion-button shape="round">+</ion-button>
          </ion-chip>
      </ion-item>
    </ng-template>
  </ion-card>
      <ng-template ngFor let-user [ngForOf]="users">
      <ion-label> {{user.subgroup}} </ion-label>
    </ng-template>
  </ion-list>
</ion-content>