<ng-container>
  <ion-header>
    <ion-toolbar>
      <ion-title># HoursTogether*Persons </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/hashtags"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-card>
<!--     <ion-img *ngIf="hashtag.picture" src="assets/hashtags/{{hashtag.picture}}"></ion-img>-->

      <ion-card-content>
        {{ description || info }}
      </ion-card-content>


    </ion-card>
  </ion-content>
      </ng-container>