<ion-header>
  <ion-toolbar>
    <ion-title>Rallyestand: </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-item *ngFor = "let group of groups">
        <ion-label> {{group.name}} </ion-label>
        <div class="number-input">
          <button (click)="pointsCountInput.stepDown()"></button>
          <input #pointsCountInput  [(ngModel)]="pointsCount" name="{{group.name}}" type="number" class="quantity" min="0" max="10" value="0" step="1">
          <button (click)="pointsCountInput.stepUp()" class="plus"></button>
        </div>
        <ion-fab-button (click)="createRallyePoints()"><ion-icon name="send"></ion-icon></ion-fab-button>
      </ion-item>
</ion-content>
