<ion-header>
  <ion-toolbar>
    <ion-title>
      Erstigame
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Score</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="wheel" *ngFor="let digit of points">
          <span>{{ digit }}</span>
          <span>{{ digit }}</span>
          <span>{{ digit }}</span>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/camera"><ion-icon name="camera"></ion-icon></ion-fab-button>
</ion-fab>
