.avatar {
  width: 100%;
  height: 100%;
}

.score {
  > ion-item {
    > ion-label {
      font-size: 20px;
    }
    ion-chip {
      background: none;
    }
  }
  ion-col {
    text-align: center;
    ion-icon {
      display: block;
      height: 30px;
      width: 30px;
      margin: 6px auto;
    }
  }
}

.photo {
  ion-item {
    ion-label {
      span {
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}

.done, .disabled {
  &, ion-icon, ion-note {
    color: #ccc;
  }
}
