<ion-header>
  <ion-toolbar>
    <ion-title>
      Erstigame
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf= "groupPoints" class="welcome-card">
    <ion-card-header>
      <ion-card-title>Score: {{groupPoints}} Points</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header *ngIf= "announcement">
      <ion-card-title> Announcement:</ion-card-title>
    </ion-card-header>
    <ion-label>
      {{announcement}}
    </ion-label>

  </ion-card>

  <ion-card *ngFor="let photo of photos">
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon class="avatar" name="photo.user.picture"></ion-icon>
      </ion-avatar>
      <ion-label text-wrap>
        <h2>{{photo.user.name}}</h2>    
      </ion-label>
    </ion-item>
    <ion-img *ngIf="photo.path" src="{{photo.path}}"></ion-img>
    <ion-card-title *ngFor="let hashtag of photo.hashtags">
      #{{ hashtag.name }}
    </ion-card-title> 
  </ion-card>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/camera"><ion-icon name="camera"></ion-icon></ion-fab-button>
</ion-fab>
