.avatar {
  width: 100%;
  height: 100%;
}

.score {
  ion-col {
    text-align: center;
    ion-icon {
      display: block;
      height: 30px;
      width: 30px;
      margin: 6px auto;
    }
  }
}